@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }

body {
    font-family: 'Lato', serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* Hide scrollbar but keep effect. */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

input,
textarea,
button,
select,
a {
}